.nav {
    position: fixed;
    top: 60px;
      left: 0;
      right: 0;
      height: 0;
    /* border: 2px solid #502F4C; */
    background-color: #FAE8E0;
    height: 47px;
    justify-content: center;
  }
  