.article {
  border-radius: 10px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  margin-bottom: 0.3em;
  padding: 1.5em;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content auto auto auto;
  grid-template-areas:
    "topic author datetime"
    "title title title"
    "body body body"
    "votes . commentcount";
}

.article__author {
  color: #b6e2d3;
  grid-area: author;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 0.1em;
}

.article__topic {
  grid-area: topic;
  font-size: 0.9rem;
  display: flex;
}

.article__title {
  grid-area: title;
  font-size: 1rem;
  letter-spacing: 0.05em;
  margin: 0.2em 0.1em;
  display: flex;
  font-weight: 600;
  justify-content: flex-start;
}

.article__body {
  grid-area: body;
  margin: 0.5em 0.1em;
  letter-spacing: 0.01em;
  margin-top: 1em;
  line-height: 1.2em;
  font-size: 0.8rem;
  font-weight: 500;
}

.article__commentcount {
  color: #b6e2d3;
  grid-area: commentcount;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.4em;
  font-weight: 600;
}

.article__datetime {
  grid-area: datetime;
  font-size: 0.9em;
  display: flex;
  justify-content: flex-end;
}

.article__votes {
  grid-area: votes;
}

@media screen and (min-width: 700px) {
  .article {
    padding: 1em;
  }
  .article__body {
    margin: 0.5em 0.1em;
    letter-spacing: 0.01rem;
    line-height: 1.2rem;
    font-size: 1.1rem;
  }
  .article__topic {
    font-size: 1.3rem;
  }

  .article__title {
    font-size: 1.5rem;
  }

  .article__author {
    font-size: 1.3rem;
  }

  .article__datetime {
    font-size: 1.3rem;
  }
}
