.votes {
    display: flex;
    margin-left:0.2em;    
    margin-top: 1em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    grid-area: votes;
  }
  
  .votes p {
    color: #B6E2D3;
    margin-top: 1em;
    font-size: 1em;
    font-weight: 700;
  }
  
  .fa-square-caret-up{
    color: #B6E2D3;
    margin-right: 0.1em;
    margin-left: 0.2em;
    font-size: 2em;
    transition: color 0.1s ease-out;
  }

  .fa-square-caret-up:active {
    color: rgb(9, 155, 9);
    transform: translateY(2px);
  }

  .fa-square-caret-down {
    color: #D8A7B1;
    margin-left: 0.1em;
    font-size: 2em;
    transition: color 0.1s ease-out;
  }

  .fa-square-caret-down:active {
    color: rgb(218, 52, 30);
    transform: translateY(2px);
  }