/* :root {

--background-main: #F9F4F5
--background-cards: #C8B8DB
--outlines: #502F4C



} */

.App {
  text-align: center;
  background-color: #502F4C;
  font-family: American Typewriter, serif			;
}
.container {
  background-color: #C8B8DB;
  margin-top: 10px;
  padding: 30px;
  margin-top: 107px;

}

.articles {
  /* display: block; */
  border: 2px solid #502F4C;
  

  /* width: 600px;
  margin: auto;
  background-color: peachpuff;
  text-align: center; */


}
.articleCard {

  border: 2px solid #502F4C;
  /* margin: 5px; */
  background-color: #f8eff1;
  border-radius: 5px;
  margin: 5px;
  
}

.singleArt {
  /* display: block; */
  border: 2px solid #502F4C;
  /* width: 600px;
  margin: auto;
  background-color: peachpuff; */
}

Header {
  display: grid;
  grid-template-columns: 200px auto 10px;
  position: fixed;
  top: 0;
    left: 0;
    right: 0;
    height: 60px;
  border: 2px solid #502F4C;
  background-color: #C8B8DB
}

.header__grid1 {
  text-align: right;
  padding-right: 10px;
  padding-top: 13px;
}

.header__grid2 {
  text-align: left;
  padding-right: 10px;
  padding-top: 13px;
}

.nav {
  position: fixed;
  top: 60px;
    left: 0;
    right: 0;
    height: 0;
  border: 2px solid #502F4C;
  background-color: #C8B8DB;
  height: 47px;
  justify-content: center;
}

.vote-ui {
  display:inline-block;

}

ul {
  padding-left: 0rem;
}

h3 {
  color: #502F4C;
}
a {
  color: #502F4C;

}

.btn {
background-color: #502F4C;
color: #f8eff1;
 margin-right: 3px;
 margin-top:2px;
 margin-left: 2px;
 margin-bottom: 3px;

}